:root {
  --brand-colour:  #cfd1d1;
  --black:#212427;
  --nav-grey: #333333;
  --white: #ffffff;
  --unactive-tabs: #636363; }

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--black);
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.logo-bar {
  background-color: var(--brand-colour);
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

h1 {
  font-size: 2rem;
  font-weight: 500;
  padding-left: 1rem; }

h1 .logo {
  font-weight: 200; }

.user-profile {
  padding-right: 1rem;
  font-size: 1.1rem; }
  .user-profile a {
    display: flex;
    align-items: center; }
  .user-profile .profile-icon {
    width: 2.4rem;
    padding-right: .3em; }
  .user-profile .user-chevron {
    width: 2rem;
    padding-left: 0.2; }

nav {
  margin: 1em; }
  nav .trip-actions, nav #booking-options {
    margin-top: 1.2em; }
  nav .nav-tab {
    font-size: 1.2rem;
    background: none;
    border: none;
    color: var(--unactive-tabs);
    padding-bottom: 0.2em;
    font-weight: 500; }
  nav .nav-tab + .nav-tab {
    margin-left: 2rem; }
  nav .nav-tab-active {
    color: var(--black);
    border-bottom: solid var(--black); }

.dropdown-container {
  position: relative; }
  .dropdown-container .vip-status {
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    align-items: center; }
    .dropdown-container .vip-status img {
      width: 2rem;
      padding-right: 0.5em; }

.dropdown-menu {
  position: absolute;
  top: 3rem;
  right: 0.5rem;
  padding: 1em;
  border: 0.1rem solid var(--black);
  border-radius: 0.5em; }

.user-data-box {
  display: flex;
  flex-direction: column;
  background-color: var(--brand-colour);
  border-radius: .6rem;
  padding: 1em;
  margin: 1em 0;
  font-size: 1.1rem; }
  .user-data-box .user-metrix {
    font-size: 2rem;
    margin-top: .2em;
    font-weight: 500; }

.user-item {
  font-size: 1.4rem;
  font-weight: 400; }

.user-settings {
  padding: 0  0 0.5em 0; }

.user-logout {
  padding: 0.5em 0 0 0; }

main .trip-message {
  margin: 1rem;
  font-size: 1.5em;
  font-weight: 400; }

.available-rooms {
  display: flex;
  flex-wrap: wrap; }

.rooms {
  display: flex;
  border: var(--black) solid 3px;
  max-width: 700px;
  margin: 1em; }
  .rooms img {
    max-width: 300px; }

.modal {
  --gap: 15px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap);
  background: rgba(0, 0, 0, 0.5); }

.inner-modal {
  background: var(--white);
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 4px; }

[aria-expanded="true"] {
  display: block; }

[aria-expanded="false"] {
  display: none; }

.hidden {
  display: none; }

button:hover, input:hover, select:hover {
  cursor: pointer; }
