:root {
  --brand-colour:  #cfd1d1;
  --black:#212427;
  --nav-grey: #333333;
  --white: #ffffff;
  --dashboard-grey: #484848;
  --logo-colour: #542e71; }

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--black);
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.cover {
  z-index: -1;
  background-image: url("../images/booking-page.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  width: 100%;
  height: 100vh;
  position: absolute; }

button {
  background-color: var(--logo-colour);
  color: var(--white);
  border-radius: 0.3rem;
  padding: 0.6em 1.5em;
  font-size: 16px;
  border-color: var(--logo-colour); }

input, select {
  border-radius: 0.3rem;
  border-width: 2px;
  border-color: #999999;
  font-size: 16px;
  padding: 0.475em 1.2em; }

.banner {
  position: sticky;
  top: 0px;
  width: 100vw; }

.logo-bar {
  background-color: var(--white);
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0; }
  .logo-bar .user-name {
    color: var(--logo-colour); }

.dashboard-title {
  font-size: 2rem;
  font-weight: 600;
  padding-left: 1rem;
  color: var(--logo-colour); }

h1 .logo {
  font-weight: 200; }

.user-profile {
  padding-right: 1rem;
  font-size: 1.1rem; }
  .user-profile a {
    display: flex;
    align-items: center; }
  .user-profile .profile-icon {
    width: 2.4rem;
    padding-right: .3em;
    filter: invert(20%) sepia(35%) saturate(1725%) hue-rotate(240deg) brightness(93%) contrast(92%); }
  .user-profile .user-chevron {
    width: 2rem;
    padding-left: 0.2;
    filter: invert(20%) sepia(35%) saturate(1725%) hue-rotate(240deg) brightness(93%) contrast(92%); }

nav {
  margin: 1em; }
  nav .trip-actions, nav #booking-options {
    margin-top: 1.2em; }
  nav .nav-tab {
    font-size: 1.2rem;
    background: none;
    border: none;
    color: var(--dashboard-grey);
    padding: 0 0 0.2em 0;
    font-weight: 500; }
  nav .nav-tab + .nav-tab {
    margin-left: 2rem; }
  nav .nav-tab-active {
    color: var(--dashboard-grey);
    border-bottom: solid var(--dashboard-grey); }
  nav input + select, nav select + button {
    margin-left: 1rem; }
  nav form {
    min-height: 33px;
    padding-bottom: 1em; }
  nav .welcome-user {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: var(--dashboard-grey); }
  nav #pick-day {
    padding: 0.45em 1.2em; }

.dropdown-container {
  position: relative; }
  .dropdown-container .vip-status {
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    align-items: center; }
    .dropdown-container .vip-status img {
      width: 2rem;
      padding-right: 0.5em; }

.dropdown-menu {
  position: absolute;
  top: 3rem;
  right: 0.5rem;
  padding: 1em;
  border: 0.1rem solid var(--black);
  border-radius: .3rem;
  background-color: var(--white); }

.user-data-box {
  display: flex;
  flex-direction: column;
  background-color: var(--brand-colour);
  border-radius: .3rem;
  padding: 1em;
  margin: 1em 0;
  font-size: 1.1rem; }
  .user-data-box .user-metrix {
    font-size: 2rem;
    margin-top: .2em;
    font-weight: 500; }

.user-item {
  font-size: 1.4rem;
  font-weight: 400; }

.user-settings {
  padding: 0  0 0.5em 0; }

.user-logout {
  padding: 0.5em 0 0 0; }

main .welcome-message {
  position: absolute;
  margin: auto 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-weight: 500;
  letter-spacing: .15rem;
  font-family: 'Playfair Display', serif;
  color: var(--dashboard-grey); }

main .trip-message {
  margin: 1em;
  font-size: 1.3rem; }

.available-rooms {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  gap: 1.5rem; }

.rooms {
  display: flex;
  min-width: 700px;
  min-height: 375px;
  gap: 1rem;
  border-radius: .3em;
  box-shadow: 16px 16px 15px -5px rgba(0, 0, 0, 0.22), -6px -6px 15px -5px rgba(0, 0, 0, 0.22); }
  .rooms .room-info {
    padding: 2em 2em 2em 0.5em;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .rooms .room-image {
    object-fit: cover;
    object-position: center;
    border-radius: 0.3em 0 0 .6em;
    min-width: 50%; }
  .rooms h3 {
    font-size: 1.5rem;
    padding-bottom: .6rem;
    font-weight: 500; }
  .rooms .bed-size {
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: .4rem; }
  .rooms .room-cost {
    padding-top: .6rem;
    font-size: 2.5rem;
    font-weight: 700; }
  .rooms img {
    max-width: 300px;
    min-height: 344px; }
  .rooms .room-type {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 2.25rem; }
  .rooms .amenities {
    font-weight: 500; }
    .rooms .amenities li {
      font-weight: 400;
      list-style-type: disc;
      list-style-position: inside;
      line-height: normal;
      padding-left: 10px; }
  .rooms .amenities p {
    padding-bottom: 5px; }

.modal {
  --gap: 15px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap);
  background: rgba(0, 0, 0, 0.5); }

#inner-modal {
  background: var(--white);
  overflow: hidden;
  border-radius: .3em;
  min-height: 344px;
  position: relative; }
  #inner-modal .modal-room {
    min-width: 900px;
    min-height: 450px; }
  #inner-modal button + button {
    margin-left: 1rem; }
  #inner-modal .btn-container {
    margin-top: .8em; }
  #inner-modal .another-room {
    color: var(--logo-colour);
    background-color: var(--white); }
  #inner-modal .room-info > .modal-esc {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: .6em 1em 0 0;
    font-size: 2rem;
    font-weight: 500;
    background: none;
    border: none;
    color: var(--black); }
  #inner-modal .booking-thanks {
    margin-right: 1.5em; }
  #inner-modal .modal-info {
    width: 500px; }

.modal-login {
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center; }
  .modal-login .img-container {
    background-color: var(--black);
    float: left; }
  .modal-login .cover-login {
    display: block;
    opacity: .7;
    width: 50vw;
    height: 100vh;
    position: relative;
    object-fit: cover;
    object-position: center; }
  .modal-login .inner-modal-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    height: 100vh;
    padding-top: 15%;
    line-height: 0.7;
    background-color: #e4ebfb; }
  .modal-login .hotel-title {
    font-size: 5rem;
    text-align: center;
    color: var(--logo-colour); }
    .modal-login .hotel-title .logo-login {
      font-size: 3.15rem;
      font-weight: 100; }
  .modal-login #login {
    display: flex;
    flex-direction: column;
    gap: 1em; }

[aria-expanded="true"] {
  display: block; }

[aria-expanded="false"] {
  display: none; }

.hidden {
  display: none; }

button:hover, input:hover, select:hover {
  cursor: pointer; }
