// =========================================================
// =====================   general    ======================
// =========================================================

$brand-colour:  #cfd1d1;
$black: #212427;
$nav-grey: #333333;


* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: $black
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// =========================================================
// ==================   banner section   ===================
// =========================================================

.logo-bar {
  background-color: $brand-colour;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  padding-left: 1rem;
}

h1 .logo {
  font-weight: 200;
}

.current-user {
  padding-right: 1rem;
  font-size: 1.5rem;
}

.dropdown-container {
  position: relative;

  & .vip-status {
    font-size: 1.4rem;
    font-weight: 300;
  }
  // & ul {
  //   width: 90%;
  // }

  // & li {
  //   width: 100%;
  // }
}

.dropdown-menu {
  position: absolute;
  top: 3rem;
  right: 0.5rem;
  padding: 1em;
  border: .1rem solid $black;
  border-radius: 0.5em;

  // & li {
  //   padding: 1em 0;
  // }
}

.user-data-box {
  display: flex;
  flex-direction: column;
  background-color: $brand-colour;
  border-radius: .6rem;
  padding: 1em;
  margin: 1em 0;
  font-size: 1.1rem;

  & .user-metrix {
    font-size: 2rem;
    margin-top: .2em;
    font-weight: 500;
  }

}

.user-item {
  font-size: 1.4rem;
  font-weight: 400;
}

.user-settings {
  padding: 0  0 0.5em 0;
}

.user-logout {
  padding: 0.5em 0 0 0;
}

// =========================================================
// ==================   ROOM CARDS   ===================
// =========================================================

main {
  display: flex;
  flex-wrap: wrap;
  // width: 80%;
  margin: 1em 1em;
}
.rooms {
  display: flex;
  // justify-content: flex-start;
  border: $black solid 3px;
  max-width: 700px;
  margin: 1em;

  & img {
    max-width: 300px;
  }
}

[aria-expanded="true"] {
  display: block;
}

[aria-expanded="false"] {
  display: none;
}

.hidden {
  display: none;
}