// =========================================================
// =====================   general    ======================
// =========================================================

:root {
  --brand-colour:  #cfd1d1;
  --black:#212427;
  --nav-grey: #333333;
  --white: #ffffff;
  --unactive-tabs: #636363;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--black);
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.cover {
  z-index: -1;
  background-image: url("../images/booking-page.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  width: 100%;
  height: 100vh;
  position: absolute;

}

// =========================================================
// ==================   banner section   ===================
// =========================================================

.banner {
  position: sticky;
  top: 0px;
  width: 100vw;
  // background-color: var(--white);
}

.logo-bar {
  background-color: var(--brand-colour);
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  padding-left: 1rem;
}

h1 .logo {
  font-weight: 200;
}

.user-profile {
  padding-right: 1rem;
  font-size: 1.1rem;
  
  & a {
    display: flex;
    align-items: center;
  }

  & .profile-icon {
    width: 2.4rem;
    padding-right: .3em;
  }

  & .user-chevron {
    width: 2rem;
    padding-left: 0.2;
  }
}

nav {
  margin: 1em;

  & .trip-actions, #booking-options{
    margin-top: 1.2em;
  }

  & .nav-tab {
    font-size: 1.2rem;
    background: none;
    border: none;
    color: var(--unactive-tabs);
    padding-bottom: 0.2em;
    font-weight: 500;
  }

  & .nav-tab + .nav-tab  {
    margin-left: 2rem;
  }

  & .nav-tab-active {
    color: var(--black);
    border-bottom: solid var(--black);
  }
  & input + select, & select + button {
    margin-left: 1rem;
  }

  & form {
    min-height: 33px;
    padding-bottom: 1em;
  }
}

#booking-options {

  & button, & input, & select {
    padding: 0.3em 0.8em;
    font-size: 1rem;
    border-radius: .6rem;
    height: 100%;
  }
}

.dropdown-container {
  position: relative;

  & .vip-status {
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    align-items: center;

    & img {
      width: 2rem;
      padding-right: 0.5em;
    }
  }
}

.dropdown-menu {
  position: absolute;
  top: 3rem;
  right: 0.5rem;
  padding: 1em;
  border: .1rem solid var(--black);
  border-radius: .6rem;
  background-color: var(--white);
}

.user-data-box {
  display: flex;
  flex-direction: column;
  background-color: var(--brand-colour);
  border-radius: .6rem;
  padding: 1em;
  margin: 1em 0;
  font-size: 1.1rem;

  & .user-metrix {
    font-size: 2rem;
    margin-top: .2em;
    font-weight: 500;
  }
}

.user-item {
  font-size: 1.4rem;
  font-weight: 400;
}

.user-settings {
  padding: 0  0 0.5em 0;
}

.user-logout {
  padding: 0.5em 0 0 0;
}

main {

  & .welcome-message {
    position: absolute;
    margin: auto 0;  
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-weight: 500;
    color: var(--black);
    letter-spacing: .15rem;
  }

  & .trip-message {
    margin: 1em;
    font-size: 1.3rem;
  }
}
// =========================================================
// ====================   ROOM CARDS   =====================
// =========================================================

.available-rooms {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  gap: 1.5rem;
}
.rooms {
  display: flex;
  max-width: 700px; 
  gap: 1rem;
  border-radius: .6em;
  box-shadow: 16px 16px 15px -5px rgba(0, 0, 0, 0.22), -6px -6px 15px -5px rgba(0, 0, 0, 0.22);

  & .room-info {
    padding: 1em;
    line-height: 1.5rem;
  }

  & .room-image {
    object-fit:cover;
    object-position: center;
    border-radius: 0.6em 0 0 .6em;
  }

  & h3 {
    font-size: 1.5rem;
    padding-bottom: .6rem;
    font-weight: 500;
  }


  & li {
    list-style-type: circle;
    list-style-position: inside;
  }

  & .bed-size {
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: .4rem;
  }

  & .room-cost {
    padding-top: .6rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  & img {
    max-width: 300px;
    min-height: 344px;
  }
}

// =========================================================
// ====================   MODAL CARD   =====================
// =========================================================

.modal {
  --gap: 15px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap);
  background: rgba(0, 0, 0, 0.5);
}

.inner-modal {
  background: var(--white);
  max-width: 800px; 
  overflow: hidden;
  border-radius: .6em;
  transform: scale(1.3);
  min-height: 344px;
  position: relative;

  & button + button {
    margin-left: 1rem;
  }

  & button {
    padding: 0.3em 0.8em;
    font-size: 1rem;
    border-radius: .6rem;
    margin-top: 1rem;
  }

  & .room-info > .modal-esc {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin:  .3em .5em 0 0;
    font-size: 2rem;
    font-weight: 500;
    background: none;
    border: none;
  }

  & .booking-thanks {
    margin-right: 1.5em;
  }

  & .modal-info {
    width: 500px;
  }
}


// =========================================================
// =======================   LOGIN   =======================
// =========================================================

.modal-login {
  
  // --gap: 15px;
  position: fixed;
  top: 0;
  width: 100vw;
  // height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content:;

  & .img-container {

    background-color: var(--black);
    float: left;
  }
  & .cover-login {
    display: block;
    opacity: .7;
    width: 50vw;
    height: 100vh;
    position: relative;
    object-fit: cover;
    object-position: center;
  }
.inner-modal-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content:center;
  gap: 5em;
  height: 100vh;
  // top:20%
  margin-top: 15%;
  // display:list-item;
  line-height: 0.7;
}

.hotel-title {
  // color: var(--white);
  font-size: 5rem;
  // position: absolute;
  // margin-top: 1.5em;
  // top: 50px;
    // right: 3rem;
    // padding-top: 10em;
    text-align: center;
    // line-height: -30px;

    & .logo-login {
      font-size: 3.15rem;
      font-weight: 100;
    }
  }
  #login {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  // & .inner-modal-login {
  //   background-color: #ffffff;
  //   position: absolute;
  //   top: 100px;
  // }
}

[aria-expanded="true"] {
  display: block;
}

[aria-expanded="false"] {
  display: none;
}

.hidden {
  display: none;
}

button:hover, input:hover, select:hover {
  cursor: pointer;
}
